<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./main.css">

</head>
<body>
    <form action="/add" method="POST">
        <button type="submit">flash</button>
        <label for="files">choose a file:</label>
        <select name="arduinoFile" id="files">
            <% if(locals.arduinoFiles) { %>
            <% for (var i = 0 ; i < locals.arduinoFiles.length ; i++)  { %>
            <option value=<%=locals.arduinoFiles[i]%>><%=locals.arduinoFiles[i]%></option>
            <% } %>
            <% } %> 
        </select>
    </form>
    <form action="/add/generate" method="POST">
        <button type="submit">generate file</button>
        <input type="text" name="esp_name" value=""  placeholder="write a name">
    </form>
    <script src="/socket.io/socket.io.js"></script> 
    <script>
        const socket = io(); // Initialize Socket.IO connection
        socket.on("connect", () => {
            console.log("Connected to server");
        });
    </script>
</body>
</html>