<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO Client</title>
    <style>
        a{
            font-size: 32px;
            display: block;
            text-align: center;
        }
    </style>
</head>

<body>
    <a href="/monitor">monitor</a>
    <a href="/add">add</a>
    <a href="/pubSub">mqtt monitor</a>
</body>
</html>