<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./main.css">

</head>
<body>
    <div id="div-container">
        <button id="read-button">read</button>
        <label for="selections">choose a <%=selection %>:</label>
        <select name="selection" id="selection"></select>
        <label for="screen">monitoring data</label>
        <button id="button-on">ON</button>
        <button id="button-off">OFF</button>
    </div>
    <textarea id="screen" name="screen" rows="200" cols="100">
    </textarea>
    <script>
        function mySubmit(e) { 
            e.preventDefault(); 
            try {
            someBug();
            } catch (e) {
            throw new Error(e.message);
            }
            return false;
        }
        var currentTopic = "" ;
        var topics= [] ; 
        var messages = ""; 

        const selectionContainer = document.getElementById("selection");
        const screen = document.getElementById("screen"); 
        const divContainer = document.getElementById("div-container");
        
        const readbutton = document.getElementById("read-button");
        const buttonOn = document.getElementById("button-on"); 
        const buttonOff = document.getElementById("button-off"); 

        buttonOff.disabled = true; 
        buttonOn.disabled = true ; 

        var enableButton = false; 

        readbutton.addEventListener("click", ()=>{
            enableButton = !enableButton;
            readbutton.textContent = enableButton ? "stop" : "read";
            fetch('http://localhost:3000/pubSub/enable', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body : new URLSearchParams({
                'enableButton': enableButton
            })
            }).then(response => console.log(response)); 
        })
    
        var messages = "" ; 
        setInterval(function() {
        if (enableButton) {
            fetch('http://localhost:3000/pubSub/info', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            })
            .then(response => response.text()) // Read the response as text
            .then(data => {
            console.log(data); 
                const currentMessages = JSON.parse(data).messages;
                console.log(currentMessages); 
                messages += currentMessages;  
                screen.textContent = messages; 
                topics =  filterTopics(messages); 
                console.log(topics); 
                if (topics.length !== 0) {
                    selectionContainer.textContent = "" ;
                    
                    topics.forEach(topic => {
                        let newOption = new Option(topic ,topic);
                        selectionContainer.add(newOption,undefined);
                    });
                }
                selectionContainer.value = currentTopic; 
            
        }).catch(error => console.error('Error:', error));
        }
        }, 2000);

        selectionContainer.addEventListener("change", ()=>{
            currentTopic = selectionContainer.textContent; 
            if (currentTopic != "") {
                buttonOff.disabled = false; 
                buttonOn.disabled = false ;
                 
            } else {
                
                buttonOff.disabled = true; 
                buttonOn.disabled = true ;

            }
        });

        buttonOff.addEventListener("click", ()=>{
            buttonOff.disabled = true ; 
            buttonOn.disabled = true ; 

            fetch('http://localhost:3000/pubSub/output', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body : new URLSearchParams({
                'led': 'off',
                'topic': currentTopic
            })
            }).then(response => {
                buttonOff.disabled = false ; 
                buttonOn.disabled = false ;
            }); 
            
            
        })
        buttonOn.addEventListener("click", ()=>{
            buttonOff.disabled = true ; 
            buttonOn.disabled = true ; 
            fetch('http://localhost:3000/pubSub/output', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body : new URLSearchParams({
                'led': 'on',
                'topic': currentTopic
            })
            }).then(response => {
                buttonOff.disabled = false ; 
                buttonOn.disabled = false ; 
            }); 

        })

        function filterTopics(receivedData){
            receivedData = receivedData.split('\n');
            receivedData = receivedData.filter(topic => topic.indexOf('esp32/') == 0);
            receivedData = receivedData.map(topic => topic.split('/')[1]);
            receivedData = receivedData.map(topic => topic.split(' ')[0]);
            var set = new Set([...receivedData]);
            receivedData = [...set];   
            return receivedData; 
        }

    </script>
</body>
</html>